/* combines home.css and iphone_client.css*/

/* here starts geoapi css from home.css*/

body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(/images/img/iPhoneToolbar.png) #6d84a2 repeat-x;
    border-bottom: 1px solid #2d3642;
}

body > div,
body > form,
body > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}

body > *[selected="true"] {
    display: block;
}

ul.iphonestyling > li {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    background: url(/images/img/iPhoneArrow.png) no-repeat right center;
    font-size: 20px;
    list-style: none;
}

ul.iphonestyling > li > a {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    color: inherit;
}

a img {
    border: none;
}

.clickable {
    padding: 0px;
    margin: 0px 0px 0px 8px;
}

.button {
    position: absolute;
    top: 8px;
    right: 6px;
    -webkit-border-image: url(/images/img/iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

#homeButton, #homeButton2 {
    /*display: none;*/
    left: 6px;
    right: auto;
    -webkit-border-image: url(/images/img/iPhoneBackButton.png) 0 8 0 14;
    border-width: 0 8px 0 14px;
}

.vertical {
    font-weight: bold;
}

.entityName {
    font-size: 14px;
    color: #000;
}

.entityAddress {
    font-size: 10px;
    color: #6d84a2;
}

/*	pulse the location marker */
@-webkit-keyframes pulse {
	0% {
		opacity: 1.0;
	}
	40% {
		opacity: 0.25;
	}
	100% {
		opacity: 1.0;
	}
}

#map_canvas div[style*="/images/img/blue_dot_circle.png"] {
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}

.infoWindow {
    font-size: 12px;   
}




/* speeqe-inline css from iphone_client.css*/

ul
{
  margin: 0;
  padding: 0;
}

#speeqe-menu
{
  padding: 10px 20px;
  background: url("/images/iphone_theme/header_gradient.png") top left repeat-x #444;
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
}

#connection-message
{
  display: block;
  float: left;
  width: 49px;
  border-right: 1px dotted #333;
}

#connection-message img 
{
  margin-right: 10px;
}

ul#dropdown-menu
{
  list-style: none;
  float: left;
  margin-left: 20px;
}

ul#dropdown-menu li 
{ 
  float: left; 
  padding: 0;
  background: none;
  border: none;
}

ul#dropdown-menu li a
{
  display: block;
  float: left;
  width: 30px;
  height: 28px;
  margin: 0 15px 0 0;
}

ul#dropdown-menu li a span
{
  position: absolute;
  left: -9999px;
}

ul#dropdown-menu li#dashboard-button a     
{ 
  background: url('/images/iphone_theme/chat.png') top left no-repeat; 
}

ul#dropdown-menu li#chat-button a     
{ 
  background: url('/images/iphone_theme/chat.png') top left no-repeat; 
}

ul#dropdown-menu li#speeqers-button a 
{ 
  background: url('/images/iphone_theme/speeqers.png') top left no-repeat; 
}

ul#dropdown-menu li#room-button a     
{ 
  background: url('/images/iphone_theme/room.png') top left no-repeat; 
}

ul#dropdown-menu li#log-in-out-button a     
{ 
  background: url('/images/iphone_theme/login.png') top left no-repeat; 
}

.clicked
{
  background: url('/images/iphone_theme/close.png') top left no-repeat !important;
}

#chat
{
  padding: 10px 20px;
  margin: 0;
  font-size: 100%;
  background: #fcfcfc;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#chat .post
{
  margin: 15px 0;
}

#chat .post .date
{
  font-size: .65em;
  color: #668822;
  line-height: 1.5em;
}

#chat .current_user .date
{
  color: #444;
}

#chat .post p
{
  font-size: .85em;
  line-height: 1.6em;
  margin: 0 0 .5em 0;
}

#chat .post img 
{
  margin-bottom: 5px;
  height: auto;
}

#chat .post p.user-message
{
  background: url("/images/iphone_theme/bubble_gradient.png") top left repeat-x #bbdd55;
  border: 1px solid #99bb33;
  margin-bottom: 0;
  padding: 5px;
  width: auto;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-align: right;
}

#chat .current_user p.user-message
{
  background: url("/images/iphone_theme/bubble_gradient_2.png") top left repeat-x #777;
  border: 1px solid #666;
  text-align: left;
  color: #fff;
}

#online .useronline
{
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  font-size: .8em;
}

#online .useronline .rostername
{
  margin: 0;
  padding: 10px 40px;
  color: #223366;
}

#online .useronline img
{
  float: left;
}

#layer1 #layer1_handle
{
  padding: 10px 20px;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

#layer1 #layer1_content
{
  padding: 10px 20px;
  font-size: .8em;
  font-weight: bold;
}

#layer1 #layer1_content .leftinput
{
  margin-bottom: .5em;
}

#layer1 #layer1_content input
{
  margin-bottom: 10px;
}

#layer1 #layer1_handle a
{
  font-weight: bold;
  text-decoration: none;
  color: #223366;
}

#chat .post p.user-info 
{
   background: url("/images/iphone_theme/bubble_triangle.png") 400px top no-repeat; 
   padding-top: 8px;
   text-align: right;
   color: #223366;
}

body[orient="portrait"] #chat .post p.user-info
{
   background: url("/images/iphone_theme/bubble_triangle.png") 240px top no-repeat; 
} 

body[orient="portrait"] #chat .current_user p.user-info,
#chat .current_user p.user-info
{
   text-align: left;
   background: url("/images/iphone_theme/bubble_triangle_2.png") 20px top no-repeat; 
}

body[orient="portrait"] #chat .post img
{
  max-width: 265px;
}

body[orient="landscape"] #chat .post img
{
  max-width: 425px;
}

#chat .post p span.message_user_name
{
  font-weight: bold;
}

#chatbox
{
  background: #ddd;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

#chatbox textarea
{
  border: 1px solid #aaa;
  color: #555;
  height: 18px;
  float: left;
  padding: 5px;
}

body[orient="portrait"] #chatbox textarea 
{ 
  width: 150px; 
}

body[orient="landscape"] #chatbox textarea 
{ 
  width: 310px; 
}

#chatbox a#info,
#chatbox a#send_chat
{
  color: #fff;
  font-size: .85em;
  text-decoration: none;
  float: right;
  text-align: center;
  margin-left: 10px;
  display: block;
  height: 30px;
  border: none;
}

a#info
{
  background: url('/images/iphone_theme/info.png') top left no-repeat;
  width: 30px;
}

a#info.in-use
{
  background: url('/images/iphone_theme/info_used.png') top left no-repeat;
}

a#send_chat
{
  background: url('/images/iphone_theme/post.png') top left no-repeat;
  width: 60px;
}

a span
{
  position: absolute;
  left: -9999px;
}

#speeqe-menu:after,
#sidebar:after,
#chatbox:after,
.useronline:after
{
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

* html #speeqe-menu,
* html #sidebar,
* html #chatbox,
* html .useronline
{
	height: 1px;
}

#speeqe-menu,
#sidebar,
#chatbox,
.useronline
{ 
  min-height: 1px; 
}
