<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">



  <head>
    <title>{{ room }}</title>{% block getcred %}{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" /> 
    <style type="text/css" media="screen">@import "/css/home.css";</style>
    <style type="text/css" media="screen">@import "/css/iphone_client.css";</style> 
    <style type="text/css" media="screen">@import "/css/room.css";</style> 
    <script type="text/javascript" src="/js/googlemaps.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/json2.js"></script>
    <script type="text/javascript" src="/js/room.js"></script>
    <script type="text/javascript" src="/js/iphone_client.js"></script>
  </head>


  <body onload="init()">
    <a id="homeButton" class="button" href="#vertical_list">What's Near Me?</a>
    <a id="mapButton" class="button" href="" onclick="javasript:show_map_results()">Map</a>
    <h1 id="pageTitle"></h1>
    <ul id="vertical_list" class="iphonestyling" title="What's Near Me?" selected="true">
    </ul>
    <div id="map" title="Map">
      <div style="position:relative; width: 320px; height: 419px;">
       <div id="map_canvas" style="width: 320px; height: 419px;">
       </div>
      </div>
    </div>
    <ul id="results" class="iphonestyling" title="Search Results">
    </ul>
    
      <div id="speeqe-menu"> 
	<div id="chatstatus"> 
	    <div id="connection-message"> 
		<span id="status_disconnected"><a href="javascript:this.location.reload();"><img src="http://bedrichrios.com/iphone_test/disconnected.gif" alt="connected" width="42px" height="28px" /></a> 
		disconnected</span> 
		<span id="status_authentication_failed"><img src="http://bedrichrios.com/iphone_test/authentication_failed.gif" alt="connected" width="30px" height="28px" /></span> 
		<span id="status_connect_failed"><img src="http://bedrichrios.com/iphone_test/connect_failed.gif" alt="connected" width="30px" height="28px" /></span> 
		<span id="status_connected"><img src="http://skipola.com/images/default_theme/connected.png" alt="connected" width="30px" height="28px" /></span> 
		<div id="chat_joining_room">Joining Room.....</div>	    
		<span id="status_authenticating">authenticating..</span> 
	   </div> 
	</div> 
	<ul id="dropdown-menu"> 
	<li id="dashboard" title="Dashboard"><a href="#"><span>Dashboard</span></a></li> 
	<li id="speeqers" title="Current Speeqers"><a href="#"><span>Speeqers</span></a></li> 
	<li id="room" title="Room Name"><a href="#"><span>Settings</span></a></li> 
	<li id="log-in-out" title="Log in/out"><a href="#"><span>Login</span></a></li> 
	<li id="chat" title="Chat"><a href="#"><span>Chat</span></a></li> 
	</ul> 
    </div> 

    
  </body>
</html>